<a href="https://colab.research.google.com/github/tiagodsnt/House-Rocket-project/blob/main/House_Rocket_Cicle01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [1]:
import pandas as pd
from sklearn import linear_model as lm

# Loading Data

In [2]:
df_raw = pd.read_csv('kc_house_data.csv')

In [3]:
df_raw.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

# Data Preparation

In [ ]:
df_raw.isna().sum()

In [6]:
df_raw['sqft_above'].fillna(1, inplace=True)

In [7]:
# features
x_train = df_raw.drop(['date','price'], axis=1)

# response variable
y_train = df_raw['price'].copy()

# Model Training

In [8]:
# Model description
model_lr = lm.LinearRegression()

# Model training
model_lr.fit( x_train , y_train )

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Performance Metrics