<a href="https://colab.research.google.com/github/tiagodsnt/House-Rocket-project/blob/main/House_Rocket_Cicle01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [32]:
import pandas as pd
from sklearn import linear_model as lm

# Loading Data

In [33]:
df_raw = pd.read_csv('kc_house_data.csv',nrows=5000)

In [34]:
df_raw.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

# Data Preparation

In [42]:
# features
x_train = df_raw.drop(['date','price'], axis=1)
x_train.fillna(x_train.mean())

              id  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0     7129300520         3       1.00  ... -122.257           1340        5650
1     6414100192         3       2.25  ... -122.319           1690        7639
2     5631500400         2       1.00  ... -122.233           2720        8062
3     2487200875         4       3.00  ... -122.393           1360        5000
4     1954400510         3       2.00  ... -122.045           1800        7503
...          ...       ...        ...  ...      ...            ...         ...
4995  3583400130         3       2.25  ... -122.256           2290       10700
4996  7230400430         3       1.75  ... -122.100           1990       20359
4997  7140600190         3       1.50  ... -122.214           1400       10658
4998  6817801410         3       2.00  ... -122.034           1570       11517
4999  6430500010         5       2.50  ... -122.350           1300        4080

[5000 rows x 19 columns]

In [36]:
# response variable
y_train = df_raw['price'].copy()

# Model Training

In [37]:
# Model description
model_lr = lm.LinearRegression()

In [43]:
# Model training
model_lr.fit( x_train , y_train )

ValueError: ignored

# Performance Metrics